body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 400px;
    text-align: center;
  }
  
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilo del formulario */
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    color: #555;
    margin-bottom: 5px;
    text-align: left; /* Alinear etiquetas a la izquierda */
  }
  
  input,
  textarea,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
  
  /* Botón */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Mensajes de error */
  small {
    color: #e74c3c;
    font-size: 12px;
  }
  
  /* Alineación */
  textarea {
    resize: none;
  }
  